.hero {
    margin: 100px 0px;
}

.hero-text {
    font-size: calc(24px + 1.5vw);
}

.hero-author {
    display: flex;
}

.hero-author-image {
    border-radius: 50%;
    width: 130px;
    height: 100px;
}

.hero-author-text {
    color: #595959;
    margin: 0 0 0 10px;
}